@media (min-width: 980px) {
  body {
    padding-top: 60px;
    padding-bottom: 42px;
  }
}
.img-responsive {
    margin: 0 auto;
}

.img-circle {
    border-radius: 50%;
}
.about-text {
	padding-bottom: 10px;
}
.thumbnail:hover {
   border-color: black;
}
.thumbnail a:hover {
	color : red;
}
/*add to make iamges not display at phone sizes*/
@media screen and (max-width:480px) {  
  .intro img {
    display: none;
  }
  #self-image {
  	display: none
  }
  .thumbnail img {
    display: none
  }
}
/*navbar dropdown align text to right for better UX*/
.navbar-right {
	text-align: right
}